<h1>Your Cart</h1>
<ul>
<%= for {product_id, quantity} <- @cart do %>
  <li>
    Product <%= product_id %> - Quantity: <%= quantity %>
    <%= link "Remove", to: Routes.cart_path(@conn, :remove, product_id), method: :post %>
  </li>
<% end %>
</ul>
