<h1>Your Shopping Cart</h1>
<ul>
<%= for {product_id, quantity} <- @cart do %>
  <% product = Catalogue.get_product!(product_id) %>
  <li>
    <%= product.name %> - Quantity: <%= quantity %>
    <%= link "Remove", to: Routes.product_controller_path(@conn, :remove_from_cart, product_id), method: :post %>
  </li>
<% end %>
</ul>
